<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmezHVISTZIcwGyWqB0csDluPveZhb3rg</string>
	<key>GCM_SENDER_ID</key>
	<string>324951024916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyuchul.blink</string>
	<key>PROJECT_ID</key>
	<string>blink-2a1e4</string>
	<key>STORAGE_BUCKET</key>
	<string>blink-2a1e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324951024916:ios:6a537f417de7a89e744e01</string>
</dict>
</plist>